﻿@model DentalAppointments.Models.DentalAppointmentModel
@{
    ViewData["Title"] = "Create";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

 
<h2>Create Appointment</h2>
<form asp-action="Create"  >
    <div class="form-group form-group-sm">
        <label class="control-label">Dentist Name</label>
        <input asp-for="DentistName" class="form-control" width="250" />
        <span asp-validation-for="DentistName" class="text-danger"></span>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label">Patient Name</label>
        <input asp-for="PatientName" class="form-control" width="250" />
        <span asp-validation-for="PatientName" class="text-danger"></span>
    </div>
    <div class="form-group form-group-sm">
        <label>Choose a start time for your appointment:</label>
        <input type="datetime-local"
               min="2019-06-07T00:00"  
               asp-for="StartTime">

        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group form-group-sm">
        <label>Choose a end time for your appointment:</label>
        <input type="datetime-local"
               min="2019-06-07T00:00"  
               asp-for="EndTime">

        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <br />
    <br />
    <div class="form-group">
        <input type="submit" value="Add Appointment"   />
    </div>
    </form>
    @*value="2018-06-12T19:30"*@
