﻿@model IEnumerable<DentalAppointments.Models.DentalAppointmentModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DentistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th> 
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DentistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
             
        </tr>
}
    </tbody>
</table>
